<h1>Upcomming Concerts</h1>

<div class="dead_parrots">
  <h1> The dead parrots </h1>
  <h2> The great stadium </h2>
  <h2> Tuesday 8: PM </h2>
  <button type=“button” class=“btn btn-secondary”>Buy ticket</button>
</div>

<div class="Overachievers">
  <h1> Overachievers </h1>
  <h2> The cool club </h2>
  <h2> Monday 6: PM </h2>
  <button type=“button” class=“btn btn-secondary”>Buy ticket</button>
</div>

<div class="Bandits">
  <h1> The Reykjavík Bandits </h1>
  <h2> Hurra </h2>
  <h2> Friday 8: PM </h2>
  <button type=“button” class=“btn btn-secondary”>Buy ticket</button>
</div>

<div class="Glorious ">
  <h1> Glorious farmers </h1>
  <h2> The barn </h2>
  <h2> Thursday 8: PM </h2>
  <button type=“button” class=“btn btn-secondary”>Buy ticket</button>
</div>
